@font-face {
  font-family: "changa_one_regular";
  src: url("../../fonts/ChangaOne/changaone-regular-webfont.woff2")
      format("woff2"),
    url("../../fonts/ChangaOne/ChangaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "butler_medium";
  src: url("../../fonts/Butler_Webfont/Butler-Bold.woff2") format("woff2"),
    url("../../fonts/Butler_Webfont/Butler-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "handlee";
  src: url("../../fonts/handlee/handlee-regular-webfont.woff2") format("woff2"),
    url("../../fonts/handlee/handlee-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pettingill_cfbold";
  src: url("../../fonts/PettingillCF-Bold/pettingillcf-bold.woff2")
      format("woff2"),
    url("../../fonts/PettingillCF-Bold/pettingillcf-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background-color: #eee;
}
